<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <!-- 视图解释类 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--Default ViewResolver,因为照顾普通JSP的一体性,没有进行WEB-INF/jsp转向-->
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
    </bean>


</beans>
